{% extends 'base.html' %}

{% block content %}
<body>
<h1 style="margin-left:38%;">Calculator</h1>
<div class="row mt-4">
    <div class="col-3  shadow" style="border-radius:1%; background-color: ded;">
        <div class="col-12 shadow" style="border-radius:3%; margin-top:3%;">
            <h3 align="center">Result</h3>
            <br>
            <div  style="max-width: 100%; overflow:scroll;">
                <strong>{{ res }}</strong>
                {% if error %}
                <strong>{{ error }}</strong>
                {% endif %}
            </div>
            <br>
        </div>
        <br>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label>Number 1</label>
                <input type="number" class="form-control" name="num1">
            </div>
            <div class="form-group">
                <label>Number 2</label>
                <input type="number" class="form-control" name="num2">
            </div>
            <br>
            <button type="submit" style="margin:4%;" name="add" class="btn btn-primary col-5">Addition</button>
            <button type="submit" style="margin:3%;" name="sub" class="btn btn-primary col-5">Subtract</button>
            <button type="submit" style="margin:4%;" name="div" class="btn btn-primary col-5">Divide</button>
            <button type="submit" style="margin:3%;" name="fdiv" class="btn btn-primary col-5">fDivide</button>
            <button type="submit" style="margin:4%;" name="mul" class="btn btn-primary col-5">Multiply</button>
            <button type="submit" style="margin:3%;" name="pow" class="btn btn-primary col-5">Power</button>
            <button type="submit" style="margin:4%;" name="rem" class="btn btn-primary col-11">Remainder</button>
        </form>
    </div>
<div class="col-4"></div>
</div>

</body>
{% endblock %}