{% extends 'base.html' %}
{% load static %}
  {% block content %}



<h1>Social</h1>
<br/><br/>
<h1>Calculator work in progress....</h1>
<form action="result">
    <input type="number" name="no1" placeholder="input number1"/>
    <input type="number" name="no2" placeholder="input number2"/>
    <input type="submit"/>
</form>
<h1>{{ answer }}</h1>
<br/>
<br/>
<br/>
<br/>

<div class="calculator">
  <div class="display">CALCULATOR</div>
  <button class="btn">CE</button>
  <button class="btn">C</button>
  <button class="btn">DEL</button><br/>
  <button class="btn">7</button>
  <button class="btn">8</button>
  <button class="btn">9</button><br/>
  <button class="btn">4</button>
  <button class="btn">5</button>
  <button class="btn">6</button><br/>
  <button class="btn">1</button>
  <button class="btn">2</button>
  <button class="btn">2</button><br/>
  <button class="btn operator">×</button>
  <button class="btn operator">+</button>
  <button class="btn operator">-</button>
  <button class="btn">0</button>
  <button class="btn">.</button>
  <button class="btn equal">=</button>
  <button class="btn operator">÷</button>
</div>

 {% endblock %}