{% extends 'base.html' %}
{% load static %}
  {% block content %}

<h1>Calculator work in progress....</h1>
<a class="btn btn-primary" href="{% url 'calc' %}" ><h4>CALC</h4></a>
<form action="result">
    <input type="number" name="no1" placeholder="input number1"/>
    <input type="number" name="no2" placeholder="input number2"/>
    <input type="submit" name="add"/>
</form>
<h1>{{ answer }}</h1>
<br/>
<br/>
<br/>
<br/>

<div id="calculator">
  <div class="output">
    <span class="result">0</span>
  </div>
  <div class="buttons">
    <button class="clear">AC</button>
    <button class="clear">DEL</button>
    <button class="number">7</button>
    <button class="number">8</button>
    <button class="number">9</button>
    <button class="operator">//</button>
    <button class="number">4</button>
    <button class="number">5</button>
    <button class="number">6</button>
    <button class="operator">/</button>
    <button class="number">1</button>
    <button class="number">2</button>
    <button class="number">3</button>
    <button class="operator">*</button>
    <button class="number">0</button>
    <button class="decimal">.</button>
    <button class="equal">=</button>
    <button class="operator">-</button>
    <button class="negative">+/-</button>
    <button class="negative">**</button>
    <button class="percentage">%</button>
    <button class="operator">+</button>
  </div>
</div>


 {% endblock %}