<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <a class="btn btn-primary" style="margin-left:1%;" href="{% url 'home' %}" >Home</a>
    <a class="btn btn-primary" style="margin-left:1%;" href="{% url 'calc' %}" >CALCULATOR</a>
    <a class="btn btn-primary" style="margin-left:1%;" href="{% url 'chatbot' %}" >ChatGPT</a>
    <a class="btn btn-primary" style="margin-left:1%;" href="{% url 'view_conversation' %}" >Conversation</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
    </div>
  </div>
</nav>