.calculator {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  height: 300px;
  border: 1px solid black;
}

.display {
  flex: 1;
  height: 50px;
  font-size: 20px;
  text-align: right;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid black;
}

.btn {
  flex: 1;
  font-size: 20px;
  height: 50px;
  border: 1px solid black;
  box-sizing: border-box;
  cursor: pointer;
}

.operator {
  background-color: lightgray;
}

.equal {
  background-color: lightgreen;
}
