#calculator {
  width: 240px;
  height: 320px;
  border: 2px solid #333;
  border-radius: 4px;
  overflow: hidden;
}

#calculator .output {
  width: 100%;
  height: 25%;
  background-color: #ddd;
  font-size: 2em;
  text-align: right;
  padding: 0 20px;
  box-sizing: border-box;
}

#calculator .output .result {
  display: block;
  margin: 0;
  padding-top: 20px;
  color: #333;
}

#calculator .buttons {
  width: 100%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5em;
}

#calculator .buttons button {
  width: 25%;
  height: 25%;
  border: none;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}



#calculator .buttons .clear{
  width: 50%;
}

#calculator .buttons .negative,
#calculator .buttons .percentage,
 #calculator .buttons .operator{
  background-color: #ddd;
}

#calculator .buttons .equal,
#calculator .buttons .clear{
  background-color: #dde;

}

#calculator .buttons .number:hover {
  background-color: #dde;
}
#calculator .buttons .number,
#calculator .buttons .decimal{
background-color: #fff
}

#calculator .buttons .operator:hover,
#calculator .buttons .negative:hover,
#calculator .buttons .percentage:hover {
  background-color: #eee;
}

#calculator .buttons .clear:hover,
#calculator .buttons .equal:hover{
  background-color: #edd;
}

.rainbow-text {
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  -webkit-background-clip: text;
  color: transparent;
}


body {
  background-color: #f2f2f2;
  text-align: center;

}

form {
  margin: 20px 0;
}

input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.forecast-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.forecast {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px;
  width: calc(100% / 5 - 20px);
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .forecast {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .forecast {
    width: 100%;
  }
}