{% extends 'base.html' %}

{% block title %}Checkout{% endblock %}
{% block content %}

<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper" style="background-color: #fff;">
            <form id="form" action="" method="POST">
                <h3>Order Details:</h3>
                {% csrf_token %}
                {{form.as_p}}
                <input id="form-button" class="btn btn-info btn-block" type="submit" value="Continue">
            </form>
        </div>
        <br>
        <div class="box-element hidden" id="payment-info">
            <small>Card</small>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="box-element" style="background-color: #fff;">
            <a class="btn btn-outline-dark" href="{% url 'ecomm:mycart' %}">&#x2190; Back to Cart</a>
            <a class="btn btn-outline-dark" href="{% url 'ecomm:mycart' %}">&#x2190; order summary</a>
            {% if cart.cartproduct_set.all %}
				<a style="float:right;" class="btn btn-outline-dark" href="{% url 'ecomm:emptycart'%}">Empty Cart</a>
				{% endif %}
            <hr>
            <h3>Shopping Cart</h3>
            <hr>
            {% for cp in cart.cartproduct_set.all %}
            <div class="cart-row">
                <div style="flex:2"><a href="{% url 'ecomm:productdetail' cp.product.slug %}"><img class="row-image" src="{{cp.product.image.url}}"></a></div>
                <div style="flex:2"><h6><a href="{% url 'ecomm:productdetail' cp.product.slug %}" style="color: 0000;">{{ cp.product.title }}</a></h6></div>
                <div style="flex:1"><h6>{{ cp.product.price|floatformat:2 }} $</h6></div>
                <div style="flex:1"><h6>{{ cp.quantity }}</h6></div>
            </div>
            {% endfor %}
            <h5>Products: {{ cart.get_cart_items }}</h5>
            <h5>Total: {{ cart.get_cart_total|floatformat:2 }} $</h5>

        </div>
    </div>
</div>


{% endblock %}