{% extends 'base.html' %}

{% block title %}Forgot Password{% endblock %}
{% block content %}

<div class="container">
<div class="row">
    <div class="col-lg-6">
        {% if request.get.m == "s" %}
        <h3>Password reset link is sent to your email address, check yur email address!</h3>
        {% else %}
        <h3>Reset Password</h3>
        {% if request.GET.m == "e" %}
        <h4>Something went wrong, please enter your email again.</h4>
        {% endif %}
        <form action="" method="POST">
        {% csrf_token %}
            {{form.as_p}}
        <input id="form-button" class="btn btn-info btn-block" type="submit" value="Reset Password">
        </form>
        {% endif %}
</div>
    </div>
</div>
{% endblock %}
