{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block content %}

<div class="row">
    {% for p in products %}
    <div class="col-lg-3" style=" background-color: #fff;">
        <a href="{% url 'ecomm:productdetail' p.slug %}">
        <img class="thumbnail" src="{{p.image.url}}"  style="object-fit: cover; object-fit: contain; background-color: #fff;">
        </a>
            <div class="box-element product" style="background-color: #fff;">
            <h6><a href="{% url 'ecomm:productdetail' p.slug %}" style="color: 0000;"><strong>{{ p.title }} </strong></a></h6>
            <hr>
            <a  href="{% url 'ecomm:addtocart' p.id %}" class="btn btn-outline-secondary add-btn update-cart" >Add to cart</a>
            <a  class="btn btn-outline-info" href="{% url 'ecomm:productdetail' p.slug %}">Details</a>
            <h4 style="display: inline-block; float: right">{{p.price|floatformat:2}} $</h4>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}