{% extends 'base.html' %}

{% block title %}Cart{% endblock %}
{% block content %}
	<div class="row" >
		<div class="col-lg-12" >
			<div class="box-element" style="background-color: #fff;" >
				<a  class="btn btn-outline-dark" href="{% url 'ecomm:home' %}">&#x2190; Continue Shopping</a>
				{% if cart.cartproduct_set.all %}
				<a style="float:right; margin:5px;" class="btn btn-outline-dark" href="{% url 'ecomm:emptycart'%}">Empty Cart</a>
				{% endif %}
				<br>
				<br>
				<table class="table" >
					<tr>
						<th><h5>Total Products: <strong>{{ cart.get_cart_items }}</strong></h5></th>
						<th><h5>Total Order: <strong>{{ cart.total|floatformat:2 }} $</strong></h5></th>
						<th>
							{% if cart.cartproduct_set.all %}
							<a  style="float:right; margin:5px;" class="btn btn-info" href="{% url 'ecomm:checkout' %}">Order</a>
							{% endif %}
						</th>
					</tr>
				</table>
			</div>
			<br>
			<div class="box-element" style="background-color: #fff;">
				<div class="cart-row">
					<div style="flex:2"></div>
					<div style="flex:2"><strong>Product</strong></div>
					<div style="flex:1"><strong>Price</strong></div>
					<div style="flex:1"><strong>Quantity</strong></div>
					<div style="flex:1"><strong>Total</strong></div>

				</div>
				{% for cp in cart.cartproduct_set.all %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{cp.product.image.url}}" ></div>
					<div style="flex:2"><h5>{{ cp.product.title }}</h5></div>
					<div style="flex:1"><h5>{{ cp.product.price|floatformat:2 }} $</h5></div>
					<div style="flex:1">
						<p class="quantity">{{ cp.quantity }}</p>
						<div class="quantity">
							<a href="{% url 'ecomm:managecart' cp.id %}?action=inc" class="btn btn-info"> + </a>
                            <a href="{% url 'ecomm:managecart' cp.id %}?action=dcr" class="btn btn-info"> - </a>
                            <a href="{% url 'ecomm:managecart' cp.id %}?action=rmv" class="btn btn-info"> x </a>
						</div>
						</div>
					<div style="flex:1"><h6>{{ cp.subtotal|floatformat:2 }} $</h6></div>
				</div>
			{% endfor %}
			</div>
		</div>
	</div>
{% endblock content %}