{% extends 'base.html' %}

{% block title %}search{% endblock %}
{% block content %}
<center>
    <h3>You searched for <span class="text-info">"{{request.GET.search}}"</span></h3>

        <div class="row">
            {% for result in results %}
            <div class="col-lg-3" style=" background-color: #fff; margin-bottom:1%; padding: 10px 10px 10px 10px;">
                <a href="{% url 'ecomm:productdetail' result.slug %}">
                    <img class="thumbnail" src="{{result.image.url}}"
                         style="object-fit: cover; object-fit: contain; background-color: #fff;">
                </a>
                <div class="box-element product" style="background-color: #fff;">
                    <h6><a href="{% url 'ecomm:productdetail' result.slug %}" style="color: 0000;"><strong>{{ result.title }} </strong></a></h6>
                    <hr>
                    <a href="{% url 'ecomm:addtocart' result.id %}"
                       class="btn btn-outline-secondary add-btn update-cart">Add
                        to cart</a>
                    <a class="btn btn-outline-info" href="{% url 'ecomm:productdetail' result.slug %}">Details</a>
                    <h4 style="display: inline-block; float: right">{{result.price|floatformat:2}} $</h4>
                </div>
            </div>
            {% endfor %}
        </div>

</center>
<nav aria-label="..." class="">
        <ul class="pagination justify-content-center">
            {% if results.has_previous %}
            <li class="page-item"><a class="page-link text-info" href="{{ search_url }}page=1">First</a></li>
            <li class="page-item">
                <a class="page-link text-info" href="{{ search_url }}page={{ results.previous_page_number }}">Previous</a>
              </li>
            {% endif %}
            {% for i in results.paginator.page_range %}
            {% if i == results.number %}
            <li class="page-item active"><a class="page-link bg-info">{{i}}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link text-info" href="{{ search_url }}page={{i}}">{{i}}</a></li>
            {% endif %}
            {% endfor %}
            {% if results.has_next %}
            <li class="page-item">
                <a class="page-link text-info" href="{{ search_url }}page={{ results.next_page_number }}">Next</a>
            </li>
            <li class="page-item"><a class="page-link text-info" href="{{ search_url }}page={{ results.paginator.num_pages }}">Last
                    </a></li>
            {% endif %}
        </ul>
      </nav>