{% extends 'base.html' %}
{% block title %} Tickets {% endblock %}
{% block content %}
<table class="styled-table" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <thead>
    <tr>
        <th>Ticket</th>
        <th>Created by</th>
        <th>Summary</th>
        <th>Status</th>
        <th>To Compartment</th>
        <th>Created</th>
        <th>Last Updated</th>
        <th>Edit Ticket</th>
        <th>Delete Ticket</th>
        {% if user.is_superuser %}
        <th>Super Delete</th>
        {% endif %}
    </tr>
    </thead>

    {% if user.is_authenticated %}
    <tbody>
    {% for ticket in tickets %}
    {% if user.usercreate.compartment == ticket.compartment or user.is_superuser %}
    {% if ticket.active == True %}
    <tr>
        <td><a href="/ticket/{{ticket.id}}">{{ticket.id}}</a></td>
        <td><a href="/ticket/{{ticket.id}}">{{ticket.assignee}}</a></td>
        <td><a href="/ticket/{{ticket.id}}">{{ticket.title}}</a></td>
        <td><a href="/ticket/{{ticket.id}}">{{ticket.status}}</a></td>
        <td><a href="/ticket/{{ticket.id}}">{{ticket.compartment}}</a></td>
        <td><a href="/ticket/{{ticket.id}}">{{ticket.created_at}}</a></td>
        <td><a href="/ticket/{{ticket.id}}">{{ticket.updated_at}}</a></td>
        <td><a href="{% url 'EditTicket' ticket.id %}" style="margin:10px;" class="btn btn-info">Edit</a></td>
        <td><a href="{% url 'InactiveTicket' ticket.id %}" style="margin:10px;" class="btn btn-info">Delete</a></td>
         {% if user.is_superuser %}
        <td><a href="{% url 'DeleteTicket' ticket.id %}" style="margin:10px;" class="btn btn-danger">SuperDelete</a></td>
        {% endif %}
    </tr>
    {% endif %}
    {% endif %}
    {% endfor %}

    </tbody>


</table>

<nav aria-label="..." class="">
        <ul class="pagination justify-content-center">
            {% if tickets.has_previous %}
            <li class="page-item"><a class="page-link text-info" href="?page=1">First</a></li>
            <li class="page-item">
                <a class="page-link text-info" href="?page={{ tickets.previous_page_number }}">Previous</a>
              </li>
            {% endif %}
            {% for i in tickets.paginator.page_range %}
            {% if i == product_list.number %}
            <li class="page-item active"><a class="page-link bg-info">{{i}}</a></li>
            {% else %}
            <li class="page-item "><a class="page-link text-info" href="?page={{i}}">{{i}}</a></li>
            {% endif %}
            {% endfor %}

            {% if tickets.has_next %}
            <li class="page-item">
                <a class="page-link text-info" href="?page={{ tickets.next_page_number }}">Next</a>
            </li>
            <li class="page-item"><a class="page-link text-info" href="?page={{ tickets.paginator.num_pages }}">Last
                    </a></li>
            {% endif %}
        </ul>
      </nav>
    {% else %}
    <h2 align="center" class="rainbow-text"><strong>You can Login when the Admin activates your account!!!</strong></h2>
{% endif %}
{% endblock %}