{% extends "adminpages/adminbase.html" %}

{% block title %}Admin Home{% endblock %}

{% block content %}
<div class="container">
        <div class="col-md-12" style="margin-top:2%;">
            <h3>Pending Orders</h3>
            <div class="cart-row" style="border: 1px solid black; border-radius:5px;">
            <table class="table">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Order ID </th>
                        <th>Customer</th>
                        <th>Ordered On</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ord in pendingorders %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a href="{% url 'ecomm:adminorderdetail' ord.id %}">#ORDER_{{ord.id}}</a></td>
                        <td>{{ord.ordered_by}}</td>
                        <td>{{ord.created_at}}</td>
                        <td><strong>{{ord.total}} $</strong></td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}