<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container" style="margin-top:1%" align="center">
        <a class="btn btn-outline-dark btn-secndary"  href="{% url 'ecomm:adminhome' %}">Admin Home/Received Orders</a>
        <a class="btn btn-outline-dark btn-info" href="{% url 'ecomm:adminorderlist' %}">All Orders</a>
        <a class="btn btn-outline-dark btn-info" href="{% url 'ecomm:adminproductlist' %}">All Products</a>
        <a class="btn btn-outline-dark btn-info" href="">All Customers</a>
        <a class="btn btn-outline-dark btn-secondary" href="{% url 'ecomm:home' %}">Visit site</a>
    </div>
    {% block content %}

    {% endblock %}
</body>
</html>