{% extends 'adminpages/adminbase.html' %}
{% block title %}Admin Customer Search{% endblock %}


{% block content %}

<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-md-12">
            <br>
            </br>
            <div style="display: flex; align-items: center;">
                <form class="d-flex" method="GET" action="{% url 'ecomm:admincustomersearch' %}">
                    {% csrf_token %}
                    <input class="form-control me-2" type="search" placeholder="Search Customer" aria-label="Search"
                           style="margin:10px; border-radius: 5px;" name="search" required>
                    <button class="btn btn-info" type="submit" style="margin:10px; border-radius: 5px;">Search</button>
                </form>
                <h3>You searched for <span class="text-info">"{{request.GET.search}}"</span></h3>
            </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>SN</th>
                    <th>Full Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Joined on</th>
                    <th>Is active</th>
                    <th>Edit</th>
                    <th>Activate/Decativate</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for p in results %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{p.full_name}}</td>
                    <td>{{ p.user.username }}</td>
                    <td>{{p.user.email}}</td>
                    <td>{{p.address}}</td>
                    <td>{{p.joined_on}}</td>
                    <td>{{p.user.is_active}}</td>
                    <td><a href="{% url 'ecomm:admineditcustomers' p.id %}" class="btn btn-info" style="">Edit</a></td>
                    <td><a href="{% url 'ecomm:admintogglecustomers' p.id %}" class="btn btn-info" style="">Activate/Deactivate</a></td>
                    <td><a href="{% url 'ecomm:admindeletecustomers' p.id %}" class="btn btn-danger" style="">Delete</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<nav aria-label="..." class="">
    <ul class="pagination justify-content-center">
        {% if results.has_previous %}
        <li class="page-item"><a class="page-link text-info" href="{{ search_url }}page=1">First</a></li>
        <li class="page-item">
            <a class="page-link text-info" href="{{ search_url }}page={{ results.previous_page_number }}">Previous</a>
        </li>
        {% endif %}
        {% for i in results.paginator.page_range %}
        {% if i == results.number %}
        <li class="page-item active"><a class="page-link bg-info">{{i}}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link text-info" href="{{ search_url }}page={{i}}">{{i}}</a></li>
        {% endif %}
        {% endfor %}
        {% if results.has_next %}
        <li class="page-item">
            <a class="page-link text-info" href="{{ search_url }}page={{ results.next_page_number }}">Next</a>
        </li>
        <li class="page-item"><a class="page-link text-info"
                                 href="{{ search_url }}page={{ results.paginator.num_pages }}">Last
        </a></li>
        {% endif %}
    </ul>
</nav>
{% endblock %}