{% extends 'adminpages/adminbase.html' %}


{% block title %}Order Detail{% endblock  %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <br>
            <h3>Order Detail</h3>

            <div class="cart-row" style="border: 1px solid black; border-radius:5px;">
                <p><span class="font-weight-bold" style="margin:5px;">Order ID: </span> #ORDER_{{ord_obj.id}}</p>
                <p><span class="font-weight-bold" style="margin:5px;">Order Status: </span> {{ord_obj.order_status}}</p>
                <p><span class="font-weight-bold" style="margin:5px;">Order On: </span> {{ord_obj.created_at}}
                    ({{ord_obj.created_at|timesince}} ago)</p>
                <p><span class="font-weight-bold" style="margin:5px;">Customer Information: </span>{{ord_obj.ordered_by}},
                    mobile: {{ord_obj.mobile}}</p>
                <p><span class="font-weight-bold" style="margin:5px;">Shipping Address: </span>{{ord_obj.shipping_address}}
                    ({{ord_obj.email}})</p>
                <p><span class="font-weight-bold" style="margin:5px;">Payment Information: </span>{{ord_obj.payment_method}}
                    ({% if ord_obj.payment_completed %}Payment Completed{% else %}Not Paid{% endif %})</p>
            </div>
            <br>
            <h4>Ordered Items</h4>

            <div class="cart-row" style="border: 1px solid black; border-radius:5px;">
                <table class="table">
                    <thead>
                    <tr>
                        <th>SN</th>
                        <th>Item</th>
                        <th>Rate</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cp in ord_obj.cart.cartproduct_set.all %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a style=" color: black;"
                               href="{% url 'ecomm:productdetail' cp.product.slug %}">{{cp.product.title}}</a>
                        </td>
                        <td><strong>{{cp.rate}} $</strong></td>
                        <td>{{cp.quantity}}</td>
                        <td><strong>{{cp.subtotal}} $</strong></td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="4" class="text-right">Total:</th>
                        <th>$ {{ord_obj.total|floatformat:2}}</th>
                    </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <form action="{% url 'ecomm:adminorderstatuschange' ord_obj.id %}" method="POST">
                {% csrf_token %}
                <select name="status">
                    {% for i, j in allstatus %}
                    <option value="{{i}}" {% if i == ord_obj.order_status %}selected{% endif %}>{{j}}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-info">Change</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
