{% extends 'adminpages/adminbase.html' %}

{% block title %}All Orders {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>All Orders</h3>
            <div class="cart-row" style="border: 1px solid black; border-radius:5px;">
            <table class="table" >
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Order ID </th>
                        <th>Customer</th>
                        <th>Ordered On</th>
                        <th>Amount</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                {% for order in allorders %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'ecomm:adminorderdetail' order.id %}">#ORDER_{{ order.id }}</a></td>
                    <td>{{ order.ordered_by }}</td>
                    <td>{{ order.created_at }}</td>
                    <td><strong>{{ order.total }} $</strong></td>
                    {% if order.order_status == "Order Processing" or order.order_status == "Order Received" %}
                      {% with color="blue" %}
                        <td style="color: {{ color }};"><strong>{{ order.order_status }}</strong></td>
                      {% endwith %}
                    {% elif order.order_status == "Order Canceled" %}
                      {% with color="red" %}
                        <td style="color: {{ color }};"><strong>{{ order.order_status }}</strong></td>
                      {% endwith %}
                    {% else %}
                      {% with color="green" %}
                        <td style="color: {{ color }};"><strong>{{ order.order_status }}</strong></td>
                      {% endwith %}
                    {% endif %}
                  </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>
<nav aria-label="..." class="">
        <ul class="pagination justify-content-center">
            {% if allorders.has_previous %}
            <li class="page-item"><a class="page-link text-info" href="?page=1">First</a></li>
            <li class="page-item">
                <a class="page-link text-info" href="?page={{ allorders.previous_page_number }}">Previous</a>
              </li>
            {% endif %}
            {% for i in allorders.paginator.page_range %}
            {% if i == allorders.number %}
            <li class="page-item active"><a class="page-link bg-info">{{i}}</a></li>
            {% else %}
            <li class="page-item "><a class="page-link text-info" href="?page={{i}}">{{i}}</a></li>
            {% endif %}
            {% endfor %}

            {% if allorders.has_next %}
            <li class="page-item">
                <a class="page-link text-info" href="?page={{ allorders.next_page_number }}">Next</a>
            </li>
            <li class="page-item"><a class="page-link text-info" href="?page={{ allorders.paginator.num_pages }}">Last
                    </a></li>
            {% endif %}
        </ul>
      </nav>
{% endblock %}